<div class="search-page">
    <h1>Resultado de busqueda</h1>
    <div class="row">
        <div *ngFor="let cocktail of cocktails " class="col-3">
            <a href="#" class="card">
                <img class="card-img" [src]="cocktail.strDrinkThumb" alt="Card image">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h4 class="card-title">
                        {{ cocktail.strDrink }}
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>