<div *ngIf="load" class="search-page animate__animated animate__fadeIn">
    <h1 class="text-center">Resultado de busqueda</h1>
    <div class="row">
        <div *ngFor="let cocktail of cocktails " class="col-3">
            <a [routerLink]="['/cocktail', cocktail.idDrink]" class="card">
                <img class="card-img" [src]="cocktail.strDrinkThumb" alt="Card image">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h4 class="card-title">
                        {{ cocktail.strDrink }}
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>
<app-spinner *ngIf="!load"></app-spinner>