<div *ngIf="load" id="welcome" class="welcome animate__animated animate__fadeIn" [ngStyle]="{'background-image': 'url('+ cocktails[0].strDrinkThumb +')'}">
    <div>
        <h1 class="text-center">Welcome to CocktailsApp</h1>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="search" placeholder="Search cocktail" [ngModel]="formValue">
                </div>
            </div>
        </form>
        <div>
            <h2 class="text-center mt-5">Or browse By Name</h2>
        </div>
        <div class="mt-5">
            <a [routerLink]="['/search', letter]" *ngFor="let letter of alphabet">  {{ letter | uppercase }}  </a>
        </div>
    </div>
</div>
<app-spinner *ngIf="!load"></app-spinner>